In [1]:
import pandas as pd

In [11]:
#Defining a Pandas Series with multiple levels of row indices
series_ex = pd.Series([91,2,3,4], index = [['A','C','B','A'],['a','b','c','d']])
series_ex

A  a    91
C  b     2
B  c     3
A  d     4
dtype: int64

In [12]:
series_ex.loc['A',:]

a    91
d     4
dtype: int64

In [14]:
type(series_ex.index)

pandas.core.indexes.multi.MultiIndex

In [16]:
#Defining a Pandas Series with multiple levels of row indices
series_ex = pd.DataFrame([91,2,3,4])
series_ex

    0
0  91
1   2
2   3
3   4

In [17]:
series_ex.columns

RangeIndex(start=0, stop=1, step=1)

In [15]:
#Defining a Pandas Series with multiple levels of row indices
series_ex = pd.DataFrame([91,2,3,4], index = [['A','C','B','A'],['a','b','c','d']])
series_ex

      0
A a  91
C b   2
B c   3
A d   4